<html>
  <head>
  	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  	<link rel="stylesheet" href="/css/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/javascript/local_search.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title> <%- theme.author %> </title>
  </head>
  <body>
    <div id = "background">
      <div id = "index"> 
        <%- partial('_partial/sidebar') %>
      </div>

      <div style="position: fixed;top: 2%;right: 1%">
        <p id="site-time" style="text-align: center;font-family: consolas;font-size: 20px"></p>
        <script>
          function mytime(){
            var a = new Date();
            var b = a.toLocaleTimeString();
            var c = a.toLocaleDateString();
            document.getElementById("site-time").innerHTML = c + "<br>" + b;
          }
          setInterval(function() {mytime()}, 10);
        </script>
      </div>
    </div>  
  
    <div id = "postlist">
      <%- partial('_partial/postlist') %>
    </div>

    <div id = "search-border">
      <form class="site-search-form">
        <div style = "background-color: #eeeeee;">
          <input type="text" id="local-search-input" class="st-search-input" />
          <i class="fa fa-times-circle" onclick = "closeSearch()"></i>
        </div>
      </form>
      <div id="local-search-result" class="local-search-result-cls"></div>
    </div>
    
    <script>
      var path = "/search.xml";
      searchFunc(path, 'local-search-input', 'local-search-result');
    </script>
  </body>
</html>