<div id="menu">

    <div style="text-align: center;font-size: 32px;font-family: consolas;">
        <p>WyyOIer</p>
    </div>

    <div style="height: 150px;float: up;display: flex;flex-direction: column;align-items: center;">
        <div id="headstyle">
            
        </div>
    </div>
	
    <div style="height: 50px;width: 30%;float: left;text-align: center;">
        <text id = "pcount" title = "文章数" style = "font-family: consolas;font-size: 20px;"><%- site.posts.length %></text>
    </div>

    <div style="height: 50px;width: 30%;float: left;text-align: center;">
        <text id = "commentcount" title = "评论数" style = "font-family: consolas;font-size: 20px;">0</text>
    </div>

    <div style="height: 50px;width: 40%;float: left;text-align: center;">
        <a href="https://www.luogu.com.cn/user/159610">
        <img src="https://www.luogu.com.cn/favicon.ico" alt="洛谷" width="24" height="24"></a>
        &nbsp; 
        <a href="https://codeforces.com/profile/WyyOIer">
        <img src="https://codeforces.com/favicon.ico" alt="CF" width="24" height="24"></a>
    </div>

    <script>
        function Search() {
            document.getElementById("add").innerHTML = "段落已修改。";
            document.getElementById("search-border").style.display = "block";
        }
        function closeSearch() {
            document.getElementById("search-border").style.display = "none";
        }
    </script>


    <div class="list-group">
        <a class="list-group-item" href="/"><i class="fa fa-home fa-fw"></i>&nbsp; 首页</a>
        <a class="list-group-item" href="/about"><i class="fa fa-user fa-fw"></i>&nbsp; 关于</a>
        <a class="list-group-item" href="/links"><i class="fa fa-link fa-fw"></i>&nbsp; 友链</a>
        <a class="list-group-item" onclick = "Search()"><i class="fa fa-search fa-fw"></i>&nbsp; 搜索</a>
        <a class="list-group-item" href="/template"><i class="fa fa-file-code-o fa-fw"></i>&nbsp; 模板</a>
    </div>

    

    <form class="site-search-form">
        <input type="text" id="local-search-input" class="st-search-input" />
    </form>
    <div id="local-search-result" class="local-search-result-cls"></div>

    <div id = "add">haha</div>

    <script>
        var path = "/search.xml";
        searchFunc(path, 'local-search-input', 'local-search-result');
    </script>
    
</div>

